@using core_start.Models
@model IEnumerable<Department>


@*@{ 
    Layout = "_Layout";
}*@

<div class="row">
    <div class="col-md-10 offset-md-2">
        <table class="table">
            <tr>
                <th>名称</th>
                <th>地址</th>
                <th>人数</th>
                <th>操作</th>
            </tr>
            @Html.DisplayForModel()
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4 offset-md-2">
        <a asp-action="Add">添加</a>
    </div>
</div>